<div class="p-1 m-5">
  <app-create-game></app-create-game>
</div>
<div class="p-1 m-5">
  <h1 class="text-lg">Upcoming games</h1>
  <ng-container *ngIf="this.gameService.upcomingGames | async as upcomingGames">
    <app-game-list [games]="upcomingGames"></app-game-list>
  </ng-container>
</div>
<div class="p-1 m-5">
  <h1 class="text-lg">Previous games</h1>
  <ng-container *ngIf="this.gameService.previousGames | async as previousGames">
    <app-game-list [games]="previousGames"></app-game-list>
  </ng-container>
</div>
